:root {
  --red: #d81f26;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bebas Neue', sans-serif;
}
h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: var(--red);
  /* text-shadow: 2px 2px black; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}
.standby {
  /* display: flex;  */ /* hmmm */
  position: relative;
  /* margin: auto; */
  /* height: 30dvh; */
  aspect-ratio: 16/9;
  /* width: 80%; */
  min-width: 1066px;
  max-width: 1066px;
  overflow: hidden;
}

img {
  min-width: 1280px;
  max-width: 1280px;
  height: auto;
  translate: -128px;
  animation: translate-animation 15s linear both infinite alternate;
  aspect-ratio: 16/9;
  z-index: 1;
}

.mask {
  position: absolute;
  display: block;
  content: '';
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  width: 100%;
  z-index: 2;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(to top, black, transparent);
  z-index: 2;
}
.content__description {
  flex: 1;
  padding: 3.5rem;
  color: white;
  font-size: 3.5rem;
  text-align: left;
}
.content__logo {
  justify-content: flex-end;
  align-self: flex-end;
  text-transform: uppercase;
  color: var(--red);
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding-bottom: 2rem;
  padding-right: 3.5rem;
  /* animation: mask-title 15s both infinite; */
}

.type {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  animation: mask-title 15s both infinite;
}
.type__logo {
  display: flex;
  text-transform: uppercase;
  color: var(--red);
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin-right: 5px;
}
.title,
.tags {
  opacity: 0;
}
.title {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.8rem;
  font-weight: 900;
  animation: mask-title 15s both infinite;
}
.tags {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  animation: mask-tags 15s both infinite;
}
.thumb {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  animation: mask-tags 14s 1s both infinite;
}

.thumb__element {
  display: flex;
}
.thumb__element--text {
  border-radius: 2px;
  margin-right: 5px;
  background-color: var(--red);
}
.thumb__element--detail {
  font-weight: 600;
}
.thumb__element--stats {
  font-size: 1rem;
  margin-left: 5px;
  font-weight: normal;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 3.5rem;
  width: 100%;
  background: black;
  color: white;
  letter-spacing: 0.3rem;
}
.footer__link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0.5rem auto;
  padding: 0.2rem;
}
.mask-animation {
  animation: mask-animation 15s both infinite;
}
@keyframes translate-animation {
  to {
    translate: 0;
  }
}

@keyframes mask-animation {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes mask-title {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes mask-tags {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
